<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Add procedure</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container wrapper">
    <div class="col col-md-4 pet-info-background pull-right">
        <h2>Sign On</h2>
        <form name="create-procedure" th:action="@{/create-procedure}" method="post" enctype="multipart/form-data">
            <label for="name">Name of procedure:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Enter the name of procedure"
                       autofocus required="required">
            </div>
            <label for="description">Description:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <textarea class="form-control" id="description" name="description"
                       placeholder="Enter the description of procedure"
                          required="required"></textarea>
            </div>
            <label for="price">Procedure price:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="number" class="form-control" id="price" name="price"
                       placeholder="Enter the price of the procedure"
                       required="required">
            </div>
            <button type="submit" class="btn btn-success pull-right" style="margin-top: 15px; margin-bottom: 15px">
                Add
            </button>
        </form>
    </div>
</div>


<div th:replace="footer :: footer"></div>
</body>
</html>